body {
 
  background: #EFEFEF;
}
.principal{
  margin: 5% auto;
  width: 1259px;
  height: 804px;
  background:  #CAEBF2 ;
  border-radius: 50px;
  box-shadow: -5px 3px 39px -3px rgba(79,77,77,0.74);
-webkit-box-shadow: -5px 3px 39px -3px rgba(79,77,77,0.74);
-moz-box-shadow: -5px 3px 39px -3px rgba(79,77,77,0.74);
}

#logoprincipal {
  filter: brightness(0) saturate(100%) invert(37%) sepia(31%) saturate(6435%) hue-rotate(338deg) brightness(111%) contrast(108%);
  width: 120px;
  height: 48px;
  padding-top: 2rem;
}

.datos-encriptar textarea {
  
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  border: none;
  background: #f3f5fc;
  resize: none;
  margin-left: 6rem;
  margin-top: 4rem;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
 
}
.datos-encriptar ::placeholder {
  color: #A9A9A9;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
#botones p {
  color: #495057;
  opacity: 0.8;
  margin-left: 10%;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

#encriptar {
  background: #FF3F3F;
  border-radius: 24px;
  width: 300px;
  height: 60px;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 3%;
  
}
#desencriptar {
  background: #A9A9A9;
  border-radius: 24px;
  width: 300px;
  height: 60px;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}

.informacion {
 
  float: right;
  margin-top: -46%;
  margin-right: 4rem;
  width: 400px;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(79,77,77,0.75);
 
}
.informacion img {
  max-width: 80%;
  max-height: 80%;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.informacion img:nth-child(2) {
  display: none;
}
#mostrarimagen{
  display: block;
}

.informacion textarea {
  border: none;
  width: 346px;
  height: 100px;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  resize: none;
}


.informacion p {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343a40;
  text-align: center;
}

.informacion textarea::placeholder{
  text-align: center;
}
.informacion button{
  background: #A9A9A9;
  border-radius: 24px;
  width: 300px;
  height: 60px;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}


.posiciontareincriptada{
  margin-top: 300px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size:large;
  color: #495057;
  border: none;
  text-align: start;
}
#ocultarimagen {
  display: none;
}
#btncopiar{
  display: none;
}
#btncopiar2{
  display: block;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
#btncopiar3{
  display: none;
}
footer {
  font-size: smaller;
  margin-top: -3%;
  margin-left: 3rem;
}
@media screen and (max-width:480px){
  
}


